:root {
  --space-12: 12px;
  --space-24: 24px;

  --font_size-24: 24px;
  --font_size-12: 12px;

  --bord_rad-4: 4px;
  --bord_rad-12: 12px;
  --bord_rad-24: 24px;

  --color-white: #ffffff;
  --color-bord: #dee2e6;
  --color-title: #212529;
  --color-text: #343a40;
  --color-logo: #1d3cee;
}

/* ================================= */

.page {
  background: #ffffff;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
}

.page_content {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* ================================= */

.header {
  padding: var(--space-24) 0;
  border-bottom: 2px solid var(--color-bord);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 18px;
  color: #ffffff;
  background-color: var(--color-logo);
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_link {
  color: var(--color-text);
  font-size: 16px;
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
  color: blue;
}

.nav_inline {
  gap: var(--space-24);
}

.nav_vertical {
  gap: var(--space-12);
  flex-direction: column;
}

.footer {
  padding: var(--space-24) 0;
  border-top: 2px solid var(--color-bord);
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: 14px;
  color: #6c757d;
  display: block;
  margin-top: calc(var(--space-12) * 1.5);
}

.footer_title {
  font-size: 20px;
  color: var(--color-title);
  display: block;
  margin-bottom: calc(var(--space-12) * 1.5);
}

/* ================ main block ================= */

.main {
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
  width: 100%;
  gap: 40px;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  max-width: 640px;
  width: 100%;

  background: var(--color-white);
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
  border-radius: var(--bord_rad-12);
  padding: var(--space-24);
}

.messages_title {
  font-size: var(--font_size-24);
  color: var(--color-title);
  line-height: 19px;

  padding-bottom: var(--space-12);
  border-bottom: 2px solid var(--color-bord);
}

.messages_link {
  font-size: 14px;
  line-height: 18px;
  color: var(--color-logo);
  text-decoration: none;
  border-bottom: 1px solid transparent;

  align-self: flex-end;

  transition-duration: 0.7s;
  transition-property: opacity, border-bottom-color;
}

.messages_link:hover {
  opacity: 0.7;
  border-bottom-color: var(--color-logo);
}

.msg {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);

  position: relative;
}

.msg_name {
  color: var(--color-title);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.msg_text {
  color: var(--color-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  padding-bottom: var(--space-12);
  padding-right: 36px;
  border-bottom: 2px solid var(--color-bord);
}

.msg_day {
  position: absolute;
  right: 0;
  top: 0;

  font-size: 16px;
  color: #6c757d;
}

.form {
  max-width: 320px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--space-24);

  background: var(--color-white);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: var(--bord_rad-12);
  padding: var(--space-24);
}

.form_title {
  font-size: var(--font_size-24);
  line-height: 100%;
  text-align: center;
  color: var(--color-title);
}

.form_input_list {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}

.form_input {
  background: var(--color-white);
  padding: 16px;
  border: 1px solid #ced4da;
  border-radius: var(--bord_rad-4);
}

.form_checkbox {
  display: flex;
  gap: 8px;
  align-items: center;
}

.form_checkbox > input {
  display: none;
}

.form_checkbox > div {
  border: 1px solid #767676;
  border-radius: var(--bord_rad-4);
  border-color: #767676;
  width: 13px;
  height: 13px;
}

.form_checkbox > input:checked ~ div {
  background-color: var(--color-logo);
}

.form_checkbox > label {
  font-size: 16px;
  color: var(--color-title);
  cursor: pointer;
}

.form_button {
  color: var(--color-white);
  font-size: 20px;
  line-height: 30px;
  padding: 8px;
  background: var(--color-logo);
  border: 1px solid #0d6efd;
  border-radius: var(--bord_rad-4);
  transition: opacity 0.7s;
}

.form_button:hover {
  opacity: 0.7;
}

.form_info {
  font-size: 16px;
  line-height: var(--space-24);
  text-align: center;
  color: #6c757d;
}

.advantages {
  display: flex;
  gap: var(--space-24);
}

.card_advant {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px;
  gap: 9px;

  width: 100%;

  border: 1px solid #e4eaf2;
  border-radius: var(--bord_rad-12);
}

.card_advant > strong {
  color: var(--color-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.card_advant > p {
  color: var(--color-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
