{{#with data}}
  <div class='articles_card'>
    <div style='position: relative'>
      {{#if isNew}}
        <strong class='isnew'>
          NEW
        </strong>
      {{/if}}
      <img src='{{photo}}' alt='' class='card_img' />
    </div>
    <h5 class='card_title'>{{name}}</h5>
    <p class='card_description'>{{description}}</p>
    <button class='button card_button'>Read All</button>
  </div>
{{/with}}